<template>
    <div>
        <button class="btn btn-secondary" v-on:click="goBack()">Volver</button>
        <div class="row justify-content-center">
            <div class="card col-md-8">
            <div class="card-body">
                <b-form @submit.prevent="onSubmit">
                <b-form-group id="input-group-1" label="Nombre:" label-for="nombre-id">
                    <b-form-input
                    id="nombre-id"
                    v-model="form.nombre"
                    type="text"
                    required
                    placeholder="Nombre"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-2" label="NIT:" label-for="nit-id">
                    <b-form-input
                    id="nit-id"
                    v-model="form.nit"
                    type="text"
                    required
                    placeholder="NIT"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-3" label="Razón social:" label-for="razon_social-id">
                    <b-form-input
                    id="razon_social-id"
                    v-model="form.razon_social"
                    type="text"
                    required
                    placeholder="Razón social"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-3" label="Representante legal:" label-for="representante-id">
                    <b-form-input
                    id="representante-id"
                    v-model="form.representante"
                    type="text"
                    required
                    placeholder="Representante legal"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-4" label="Dirección:" label-for="direccion-id">
                    <b-form-input
                    id="direccion-id"
                    v-model="form.direccion"
                    type="text"
                    required
                    placeholder="Dirección"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-5" label="Teléfono:" label-for="telefono-id">
                    <b-form-input
                    id="telefono-id"
                    v-model="form.telefono"
                    type="text"
                    required
                    placeholder="Teléfono"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-5" label="Correo electrónico:" label-for="correo-id">
                    <b-form-input
                    id="correo-id"
                    v-model="form.correo"
                    type="email"
                    required
                    placeholder="Correo electrónico"
                    ></b-form-input>
                </b-form-group>
                

                <b-button type="submit" variant="primary">Crear Empresa</b-button>
                </b-form>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    import empresasService from '../../servicios/empresas'

    export default {
        name: 'principal',
        data() {
            return {
                form: {
                    nombre: "",
                    nit: "",
                    razon_social: "",
                    representante: "",
                    direccion: "",
                    telefono: "",
                    correo: ""
                }
            };
        },
        methods: {
            goBack(){
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push({name: 'login'})
            },
            onSubmit: async function() {
                try{
                    const respuesta = await empresasService.create(this.form);
                    if(respuesta.status == 201) this.$router.push({name:'empresas_list'});
                }catch(error){
                    console.log(error);
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>