<template>
    <div>
        <button class="btn btn-secondary" v-on:click="goBack()">Volver</button>
        <div class="row">
            <div class="mt-3 mb-3 col-md-6">
                <h4>Información de la empresa</h4>
                <ul>
                    <li>
                        <b>Nombre: </b>{{empresa_data.nombre}}
                    </li>
                    <li>
                        <b>NIT: </b>{{empresa_data.nit}}
                    </li>
                    <li>
                        <b>Razón social: </b>{{empresa_data.razon_social}}
                    </li>
                    <li>
                        <b>Representante legal: </b>{{empresa_data.representante}}
                    </li>
                    <li>
                        <b>Dirección: </b>{{empresa_data.direccion}}
                    </li>
                    <li>
                        <b>Teléfono: </b>{{empresa_data.telefono}}
                    </li>
                    <li>
                        <b>Correo electrónico: </b>{{empresa_data.correo}}
                    </li>
                </ul>
            </div>
            <div class="mt-3 mb-3 col-md-6" id="info-adicional">
            </div>
        </div>
        <div>
            <b-tabs content-class="mt-3">
                <b-tab title="Clientes" active>
                    <h4>Clientes de la empresa</h4>
                    <router-link  class="btn btn-primary" :to="{name:'clientes_create', params: { id_empresa: empresa_data.id }}">Crear Cliente</router-link>
                    <table style="width:100%" class="table table-strip table-hover mt-3">
                        <thead>
                            <tr>
                                <th>Nombres y apellidos</th>
                                <th>Identificación</th> 
                                <th>Dirección</th>
                                <th>Correo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="cliente in clientes_data" :key="cliente.id">
                                <td>{{cliente.nombres}}</td>
                                <td>{{cliente.identificacion}}</td> 
                                <td>{{cliente.direccion}}</td>
                                <td>{{cliente.correo}}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <router-link  class="btn btn-sm btn-dark" :to="{name:'clientes_detail', params: { id: cliente.id }}">Ver</router-link>
                                        <router-link  class="btn btn-sm btn-secondary" :to="{name:'clientes_update', params: { id: cliente.id }}">Editar</router-link>
                                        <button  class="btn btn-sm btn-danger" v-on:click="eliminar_cliente(cliente.id)">Eliminar</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </b-tab>
                <b-tab title="Ventas">
                    <h4>Ventas de la empresa</h4>
                    <router-link  class="btn btn-primary" :to="{name:'ventas_create', params: { id_empresa: empresa_data.id }}">Crear Venta</router-link>
                    <table style="width:100%" class="table table-strip table-hover mt-3">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Total</th> 
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="venta in ventas_data" :key="venta.id">
                                <td>{{venta.nombre_cliente}}</td>
                                <td>$ {{venta.total}}</td> 
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <router-link  class="btn btn-sm btn-dark" :to="{name:'ventas_detail', params: { id: venta.id }}">Ver</router-link>
                                        <button  class="btn btn-sm btn-danger" v-on:click="eliminar_venta(venta.id)">Eliminar</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </b-tab>
                <b-tab title="Productos">
                    <h4>Productos de la empresa</h4>
                    <router-link  class="btn btn-primary" :to="{name:'productos_create', params: { id_empresa: empresa_data.id }}">Crear Producto</router-link>
                    <table style="width:100%" class="table table-strip table-hover mt-3">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Cantidad</th> 
                                <th>Valor</th> 
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="producto in productos_data" :key="producto.id">
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.descripcion}}</td>
                                <td>{{producto.cantidad}}</td>
                                <td>$ {{producto.valor_venta}}</td> 
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <router-link  class="btn btn-sm btn-secondary" :to="{name:'productos_update', params: { id: producto.id }}" >Editar</router-link>
                                        <button  class="btn btn-sm btn-danger" v-on:click="eliminar_producto(producto.id)">Eliminar</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </b-tab>
            </b-tabs>
        </div>
    </div>
</template>

<script>
    import empresasService from '../../servicios/empresas'
    import clientesService from '../../servicios/clientes'
    import ventasService from '../../servicios/ventas'
    import productosService from '../../servicios/productos'

    export default {
        name: 'principal',
        data() {
            return {
                empresa_data: [],
                clientes_data: [],
                ventas_data: [],
                productos_data: []
            };
        },
        mounted() {
            empresasService.detail(this.$route.params.id).then(data => {
                this.empresa_data = data.data;

                clientesService.list(this.empresa_data.id).then(data => {
                    this.clientes_data = data.data;
                }).catch(error => {
                    console.log(error);
                });

                ventasService.list(this.empresa_data.id).then(data => {
                    this.ventas_data = data.data;
                }).catch(error => {
                    console.log(error);
                });

                productosService.list(this.empresa_data.id).then(data => {
                    this.productos_data = data.data;
                }).catch(error => {
                    console.log(error);
                });

            }).catch(error => {
                console.log(error);
            });
        },
        methods: {
            goBack(){
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push({name: 'login'})
            },
            async eliminar_cliente (id){
                if(confirm("¿Está seguro de eliminar este cliente?")){
                    try{
                        const respuesta = await clientesService.delete(id);
                        this.clientes_data = this.clientes_data.filter(cliente => {
                            return  cliente.id != id ? cliente : null
                        });
                    }catch(error){
                        console.log(error);
                    }
                }
            },
            async eliminar_venta (id){
                if(confirm("¿Está seguro de eliminar esta venta?")){
                    try{
                        const respuesta = await ventasService.delete(id);
                        this.ventas_data = this.ventas_data.filter(venta => {
                            return  venta.id != id ? venta : null
                        });
                    }catch(error){
                        console.log(error);
                    }
                }
            },
            async eliminar_producto (id){
                if(confirm("¿Está seguro de eliminar este producto?")){
                    try{
                        const respuesta = await productosService.delete(id);
                        this.productos_data = this.productos_data.filter(producto => {
                            return  producto.id != id ? producto : null
                        });
                    }catch(error){
                        console.log(error);
                    }
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>