<template>
    <div>
        <router-link  class="btn btn-primary" :to="{name:'empresas_create'}">Crear Empresa</router-link>
        
        <table style="width:100%" class="table table-strip table-hover mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Razón social</th> 
                    <th>Representate Legal</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="empresa in empresas_data" :key="empresa.id">
                    <td>{{empresa.id}}</td>
                    <td>{{empresa.razon_social}}</td> 
                    <td>{{empresa.representante}}</td>
                    <td>{{empresa.direccion}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <router-link  class="btn btn-sm btn-dark" :to="{name:'empresas_detail', params: { id: empresa.id }}">Ver</router-link>
                            <router-link  class="btn btn-sm btn-secondary" :to="{name:'empresas_update', params: { id: empresa.id }}">Editar</router-link>
                            <button  class="btn btn-sm btn-danger" v-on:click="eliminar_empresa(empresa.id)">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</template>

<script>
    import empresasService from '../../servicios/empresas'

    export default {
        name: 'principal',
        data() {
            return {
            empresas_data: []
            };
        },
        mounted() {
            
            empresasService.list().then(data => {
                this.empresas_data = data.data.results;
            }).catch(error => {
                console.log(error.response);
            });
        },
        methods:{
            async eliminar_empresa (id){
                if(confirm("¿Está seguro de eliminar esta empresa?")){
                    try{
                        const respuesta = await empresasService.delete(id);
                        console.log(respuesta);
                        this.empresas_data = this.empresas_data.filter(empresa => {
                            return  empresa.id != id ? empresa : null
                        });
                    }catch(error){
                        console.log(error);
                    }
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>