<template>
  <div class="mb-3">
  <b-navbar toggleable="lg" type="dark" variant="danger">
    <b-navbar-brand href="#" :to="{name:'login'}" v-if="!token">Inicio de sesión</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav v-if="token">
        <b-nav-item href="#" :to="{name:'empresas_list'}">Empresas</b-nav-item>
      </b-navbar-nav>

      <b-navbar-nav class="ml-auto" >
        <b-nav-item-dropdown right v-if="token">
          <template slot="button-content"><em>{{user}}</em></template>
          <b-dropdown-item href="#" v-on:click="logout()">Cerrar sesión</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<script>

import authService from '../servicios/auth'

export default {
  name: 'navegacion',
  data(){
    return {
      token: false,
      user: ""
    }
  },
  components: {
  },
  mounted(){
    if(localStorage.getItem('token')){
      this.token = true;
      this.user = localStorage.getItem('user');
    }
    this.$events.$on('actualizar_token', data => this.actualizar_token(data));
  },
  methods: {
    actualizar_token(data){
      this.token = true;
      this.user = localStorage.getItem('user');
    },
    async logout(){
      try{
       const respuesta = await authService.logout();
       console.log(respuesta);
      }catch(error){
          console.log(error.response);
      }
      this.token = false;
      localStorage.removeItem('token');
      this.$router.push({name:'login'})
    }
  }
}
</script>

<style>
</style>
