<template>
    <div>
        <button class="btn btn-secondary" v-on:click="goBack()">Volver</button>
        <div class="mt-3 mb-3 col-md-6">
            <h4>Información del cliente</h4>
            <ul>
                <li>
                    <b>Nombres y apellidos: </b>{{cliente_data.nombres}}
                </li>
                <li>
                    <b>Identificación: </b>{{cliente_data.identificacion}}
                </li>
                <li>
                    <b>Dirección: </b>{{cliente_data.direccion}}
                </li>
                <li>
                    <b>Correo electrónico: </b>{{cliente_data.correo}}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import clientesService from '../../servicios/clientes'

    export default {
        name: 'principal',
        data() {
            return {
                cliente_data: [],
            };
        },
        mounted() {
            clientesService.detail(this.$route.params.id).then(data => {
                this.cliente_data = data.data;
            }).catch(error => {
                console.log(error);
            });
        },
        methods: {
            goBack(){
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push({name: 'login'})
            },
        }
    }
</script>

<style lang="scss" scoped>

</style>