<template>
    <div>
        <button class="btn btn-secondary" v-on:click="goBack()">Volver</button>
        <div class="row justify-content-center">
            <div class="card col-md-8">
            <div class="card-body">
                <b-form @submit.prevent="onSubmit">
                <b-form-group id="input-group-1" label="Nombres y apellidos:" label-for="nombres-id">
                    <b-form-input
                    id="nombres-id"
                    v-model="form.nombres"
                    type="text"
                    required
                    placeholder="Nombres y apellidos"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-5" label="Identificación:" label-for="identificacion-id">
                    <b-form-input
                    id="identificacion-id"
                    v-model="form.identificacion"
                    type="text"
                    required
                    placeholder="Identificación"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-4" label="Dirección:" label-for="direccion-id">
                    <b-form-input
                    id="direccion-id"
                    v-model="form.direccion"
                    type="text"
                    required
                    placeholder="Dirección"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-5" label="Correo electrónico:" label-for="correo-id">
                    <b-form-input
                    id="correo-id"
                    v-model="form.correo"
                    type="email"
                    required
                    placeholder="Correo electrónico"
                    ></b-form-input>
                </b-form-group>
                

                <b-button type="submit" variant="primary">Guardar cambios</b-button>
                </b-form>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    import clientesService from '../../servicios/clientes'

    export default {
        name: 'principal',
        data() {
            return {
                form: {
                    empresa: "",
                    nombres: "",
                    direccion: "",
                    identificacion: "",
                    correo: ""
                }
            };
        },
        mounted() {
            clientesService.detail(this.$route.params.id).then(data => {
                this.form = data.data;
            }).catch(error => {
                console.log(error);
            });
        },
        methods: {
            goBack(){
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push({name: 'login'})
            },
            onSubmit: async function() {
                try{
                    const respuesta = await clientesService.update(this.$route.params.id, this.form);
                    this.$router.push({name:'empresas_detail', params: {id: this.form.empresa}});
                }catch(error){
                    console.log(error);
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>