<template>
    <div>
        <button class="btn btn-secondary" v-on:click="goBack()">Volver</button>
        <div class="row justify-content-center">
            <div class="card col-md-8">
            <div class="card-body">
                <b-form @submit.prevent="onSubmit">
                <b-form-group id="input-group-1" label="Nombre:" label-for="nombre-id">
                    <b-form-input
                    id="nombre-id"
                    v-model="form.nombre"
                    type="text"
                    required
                    placeholder="Nombre"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-5" label="Descripción:" label-for="descripcion-id">
                    <b-form-textarea
                    id="descripcion-id"
                    v-model="form.descripcion"
                    type="text"
                    required
                    placeholder="Descripción"
                    ></b-form-textarea>
                </b-form-group>
                <b-form-group id="input-group-4" label="Valor de venta:" label-for="valor-venta-id">
                    <b-form-input
                    id="valor-venta-id"
                    v-model="form.valor_venta"
                    type="number"
                    required
                    placeholder="Valor de venta"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-5" label="Cantidad:" label-for="cantidad-id">
                    <b-form-input
                    id="cantidad-id"
                    v-model="form.cantidad"
                    type="number"
                    required
                    placeholder="Cantidad"
                    ></b-form-input>
                </b-form-group>
                

                <b-button type="submit" variant="primary">Crear Producto</b-button>
                </b-form>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    import productosService from '../../servicios/productos'

    export default {
        name: 'principal',
        data() {
            return {
                form: {
                    empresa: 0,
                    nombre: "",
                    descripcion: "",
                    valor_venta: 0,
                    cantidad: 0
                }
            };
        },
        mounted() {
            
        },
        methods: {
            goBack(){
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push({name: 'login'})
            },
            onSubmit: async function() {
                try{
                    this.form.empresa = this.$route.params.id_empresa;
                    const respuesta = await productosService.create(this.form);
                    if(respuesta.status == 201) this.$router.push({name:'empresas_detail', params:{ id: this.$route.params.id_empresa }});
                }catch(error){
                    console.log(error);
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>