<template>
  <div class="row justify-content-center">
    <div class="card col-md-8">
      <div class="card-body">
        <b-form @submit.prevent="onSubmit">
          <b-form-group id="input-group-1" label="Usuario:" label-for="username-id">
            <b-form-input
              id="username-id"
              v-model="form.username"
              type="text"
              required
              placeholder="Usuario"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Contraseña:" label-for="input-2">
            <b-form-input
              id="input-2"
              type="password"
              v-model="form.password"
              required
              placeholder="Contraseña"
            ></b-form-input>
          </b-form-group>

          <b-button type="submit" variant="primary">Iniciar sesión</b-button>
        </b-form>
      </div>
    </div>
  </div>
</template>

<script>

import authService from '../servicios/auth'

export default {
  name: "login-componen",
  data() {
    return {
      form: {
        username: "",
        password: ""
      }
    };
  },
  methods: {
    onSubmit: async function() {
      try{
       const respuesta = await authService.login(this.form);
       var token = respuesta.data.token;
       localStorage.setItem('token', token);
       localStorage.setItem('user', this.form.username);
       if(token.length > 0){
          this.$events.fire('actualizar_token')
          this.$router.push({name:'empresas_list'})
        }
      }catch(error){
          console.log(error.response);
      }
    }
  }
};
</script>

<style scoped>
</style>