<template>
  <div id="app">
    <navegacion />
    <div class="row">
      <div class="container">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import Navegacion from "./components/Navegacion";

export default {
  name: "app",
  components: {
    Navegacion
  }
};
</script>

<style>
</style>
