<template>
    <div>
        <button class="btn btn-secondary" v-on:click="goBack()">Volver</button>
        <div class="row justify-content-center">
            <div class="card col-md-8">
                <div class="card-body">
                    <b-form @submit.prevent="onSubmit">
                    <b-form-group id="input-group-1" label="Cliente:" label-for="cliente-id">
                        <b-form-select v-model="form.cliente" id="cliente-id" >
                            <option :value="null" selected disabled>Seleccione un cliente...</option>
                            <option :value="cliente.id" v-for="cliente in clientes_data" :key="cliente.id">{{cliente.nombres}}</option>
                        </b-form-select>
                    </b-form-group>
                    <b-button type="submit" variant="primary">Crear Venta</b-button>
                    </b-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import clientesService from '../../servicios/clientes'
    import ventaService from '../../servicios/ventas'

    export default {
        name: 'principal',
        data() {
            return {
                form: {
                    cliente: 0
                },
                clientes_data: []
            };
        },
        mounted() {
            clientesService.list(this.$route.params.id_empresa).then(data => {
                this.clientes_data = data.data;
            }).catch(error => {
                console.log(error);
            });
        },
        methods: {
            goBack(){
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push({name: 'login'})
            },
            onSubmit: async function() {
                try{
                    const respuesta = await ventaService.create(this.form);
                    console.log(respuesta);
                    if(respuesta.status == 201) this.$router.push({name:'ventas_detail', params:{ id: respuesta.data.id }});
                }catch(error){
                    console.log(error);
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>