<template>
    <div>
        <button class="btn btn-secondary" v-on:click="goBack()">Volver</button>
        <div class="row">
            <div class="mt-3 mb-3 col-md-6">
                <h4>Información de la venta</h4>
                <ul>
                    <li>
                        <b>Cliente: </b>{{venta_data.nombre_cliente}}
                    </li>
                    <li>
                        <b>Empresa: </b>{{venta_data.nombre_empresa}}
                    </li>
                    <li>
                        <b>Total: </b>$ {{venta_data.total}}
                    </li>
                </ul>
            </div>
            <div class="mt-3 mb-3 col-md-6" id="info-adicional">
                <div class="row justify-content-center">
                    <div class="card col-md-12">
                        <div class="card-body">
                            <b-form @submit.prevent="onSubmit">
                            <b-form-group id="input-group-1" label="Producto:" label-for="producto-id">
                                <b-form-select v-model="form.producto" id="producto-id" >
                                    <option  selected disabled>Seleccione un producto...</option>
                                    <option :value="producto.id" v-for="producto in productos_data" :key="producto.id">{{producto.nombre}} | ${{producto.valor_venta}}</option>
                                </b-form-select>
                            </b-form-group>
                            <b-form-group id="input-group-1" label="Cantidad:" label-for="cantidad-id">
                                <b-form-input
                                id="cantidad-id"
                                v-model="form.cantidad"
                                type="number"
                                required
                                placeholder="Cantidad"
                                :min="1"
                                :value="1"
                                ></b-form-input>
                            </b-form-group>
                            <b-button type="submit" variant="primary">Agregar</b-button>
                            </b-form>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Productos de la venta</h4>
            <table style="width:100%" class="table table-strip table-hover mt-3">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Valor</th> 
                        <th>Total</th> 
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="producto in productos_venta_data" :key="producto.id">
                        <td>{{producto.nombre_producto}}</td>
                        <td>{{producto.cantidad}}</td>
                        <td>$ {{producto.valor_producto}}</td>
                        <td>$ {{producto.total}}</td> 
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button  class="btn btn-sm btn-danger" v-on:click="eliminar_producto(producto.id)">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import ventasService from '../../servicios/ventas'
    import productosService from '../../servicios/productos'

    export default {
        name: 'principal',
        data() {
            return {
                venta_data: [],
                productos_data: [],
                productos_venta_data: [],
                form: {
                    venta: 0,
                    producto: 0,
                    cantidad: 0
                },
            };
        },
        mounted() {
            ventasService.detail(this.$route.params.id).then(data => {
                this.venta_data = data.data;
                
                productosService.list(this.venta_data.id_empresa).then(data => {
                    this.productos_data = data.data;
                }).catch(error => {
                    console.log(error);
                });

                productosService.list_productos_venta(this.venta_data.id).then(data => {
                    this.productos_venta_data = data.data;
                }).catch(error => {
                    console.log(error);
                });


            }).catch(error => {
                console.log(error);
            });
        },
        methods: {
            goBack(){
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push({name: 'login'})
            },
            async eliminar_producto (id){
                if(confirm("¿Está seguro de eliminar este producto?")){
                    try{
                        const respuesta = await productosService.delete_productos_venta(id);
                        this.productos_venta_data = this.productos_venta_data.filter(producto => {
                            return  producto.id != id ? producto : null
                        });
                        ventasService.detail(this.$route.params.id).then(data => {
                            this.venta_data = data.data;
                        }).catch(error => {
                            console.log(error);
                        });

                        productosService.list_productos_venta(this.venta_data.id).then(data => {
                            this.productos_venta_data = data.data;
                        }).catch(error => {
                            console.log(error);
                        });
                    }catch(error){
                        console.log(error);
                    }
                }
            },
            onSubmit: async function() {
                try{
                    this.form.venta = this.venta_data.id;
                    const respuesta = await productosService.create_productos_venta(this.form);
                    console.log(respuesta);
                    if(respuesta.status == 201) {
                        ventasService.detail(this.$route.params.id).then(data => {
                            this.venta_data = data.data;
                        }).catch(error => {
                            console.log(error);
                        });

                        productosService.list_productos_venta(this.venta_data.id).then(data => {
                            this.productos_venta_data = data.data;
                        }).catch(error => {
                            console.log(error);
                        });

                        this.form = {
                            venta: 0,
                            producto: 0,
                            cantidad: 0
                        };
                    }
                }catch(error){
                    console.log(error);
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>